/* line 24, ../scss/style.scss */
.clearfix {
  position: relative;
  zoom: 1;
}
/* line 27, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 31, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 37, ../scss/style.scss */
body {
  min-width: 360px;
}

/* line 41, ../scss/style.scss */
.wrapper, .wrapper2 {
  width: 90%;
  margin: 0 auto;
}

/* line 45, ../scss/style.scss */
.mainimage {
  background: url("../img/watercolor.jpg");
  width: 100%;
  background-size: contain;
  padding: 100px 0px;
  height: 150px;
  text-align: center;
  background-repeat: no-repeat;
}

/* line 57, ../scss/style.scss */
h1, h2, h3, h4, p, h5 {
  margin: 0px;
  font-weight: normal;
}

/* line 63, ../scss/style.scss */
h1 {
  text-transform: uppercase;
  color: #444444;
  font: normal normal 35px Molengo;
  letter-spacing: 10px;
}

/* line 70, ../scss/style.scss */
h2 {
  font: normal 400 20px Martel Sans, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #444444;
  margin: 15px 0px;
}

/* line 78, ../scss/style.scss */
h3 {
  text-transform: uppercase;
  color: white;
  font: normal normal 18px Molengo;
  letter-spacing: 2px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

/* line 86, ../scss/style.scss */
a {
  text-decoration: none;
  padding: 0px;
  color: white;
  cursor: pointer;
}
/* line 91, ../scss/style.scss */
a:hover {
  color: #ea5d6e;
}

/* line 97, ../scss/style.scss */
nav {
  background-color: #222222;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
}
/* line 102, ../scss/style.scss */
nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
/* line 108, ../scss/style.scss */
nav li {
  display: inline-block;
  padding: 0px 8px;
}
/* line 112, ../scss/style.scss */
nav a {
  display: block;
  font: normal 400 12px Martel Sans, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* line 118, ../scss/style.scss */
nav img {
  width: 100%;
}
/* line 122, ../scss/style.scss */
nav .imagetag {
  display: inline-block;
  width: 10%;
}

/* line 131, ../scss/style.scss */
.SCCFF {
  background-image: url("../img/sccffmockup2.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 275px;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
/* line 13, ../scss/style.scss */
.SCCFF h3 {
  position: absolute;
  bottom: 20%;
  text-transform: uppercase;
  background-color: rgba(3, 3, 3, 0.5);
  padding: 15px 0px;
  width: 100%;
}

/* line 136, ../scss/style.scss */
.OneColumbia {
  background-image: url("../img/onecolumbiamockup.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 275px;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
/* line 13, ../scss/style.scss */
.OneColumbia h3 {
  position: absolute;
  bottom: 20%;
  text-transform: uppercase;
  background-color: rgba(3, 3, 3, 0.5);
  padding: 15px 0px;
  width: 100%;
}

/* line 141, ../scss/style.scss */
.upliff {
  background-image: url("../img/upliffmockup2.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 275px;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
/* line 13, ../scss/style.scss */
.upliff h3 {
  position: absolute;
  bottom: 20%;
  text-transform: uppercase;
  background-color: rgba(3, 3, 3, 0.5);
  padding: 15px 0px;
  width: 100%;
}

/* line 146, ../scss/style.scss */
.grok {
  background-image: url("../img/grokmockup.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 275px;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
/* line 13, ../scss/style.scss */
.grok h3 {
  position: absolute;
  bottom: 20%;
  text-transform: uppercase;
  background-color: rgba(3, 3, 3, 0.5);
  padding: 15px 0px;
  width: 100%;
}

/* line 151, ../scss/style.scss */
.layr {
  background-image: url("../img/zversemockup2.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 275px;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
/* line 13, ../scss/style.scss */
.layr h3 {
  position: absolute;
  bottom: 20%;
  text-transform: uppercase;
  background-color: rgba(3, 3, 3, 0.5);
  padding: 15px 0px;
  width: 100%;
}

/* line 157, ../scss/style.scss */
.coffee img {
  width: 100%;
  height: 275px;
  position: relative;
  margin-bottom: 15px;
}
/* line 166, ../scss/style.scss */
.coffee a:hover {
  color: #ea5d6e;
  opacity: 0.6;
}

/* line 178, ../scss/style.scss */
.applefamily {
  width: 100%;
  display: block;
  margin: 0 auto;
}
/* line 182, ../scss/style.scss */
.applefamily img {
  width: 100%;
}

/* line 187, ../scss/style.scss */
h4 {
  font: normal normal 30px Molengo;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #444444;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

/* line 197, ../scss/style.scss */
p, h5 {
  font: normal 400 12px Martel Sans, sans-serif;
  color: #444444;
  line-height: 22px;
}

/* line 202, ../scss/style.scss */
h5 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 10px 0px 5px 0px;
}

/* line 210, ../scss/style.scss */
.projectscope h4 {
  margin-top: 0px;
}
/* line 213, ../scss/style.scss */
.projectscope ul {
  margin: 0px;
}
/* line 216, ../scss/style.scss */
.projectscope li {
  font: normal 400 12px Martel Sans, sans-serif;
  color: #444444;
}

/* line 222, ../scss/style.scss */
.question {
  margin-top: 20px;
  font-size: 0.9em;
}

/* line 228, ../scss/style.scss */
.discovery ul {
  margin: 0px;
}
/* line 231, ../scss/style.scss */
.discovery li {
  font: normal 400 12px Martel Sans, sans-serif;
  color: #444444;
}
/* line 235, ../scss/style.scss */
.discovery a {
  color: #ea5d6e;
}
/* line 237, ../scss/style.scss */
.discovery a:hover {
  color: #444444;
}

/* line 249, ../scss/style.scss */
.tabletview {
  width: 100%;
}
/* line 251, ../scss/style.scss */
.tabletview img {
  width: 100%;
}

/* line 256, ../scss/style.scss */
.mobileview, .laptopview {
  width: 50%;
  margin: 0 auto;
  display: block;
}
/* line 260, ../scss/style.scss */
.mobileview img, .laptopview img {
  width: 100%;
}

/* line 265, ../scss/style.scss */
.laptopview {
  width: 100%;
}

/* line 269, ../scss/style.scss */
.mobileviewupliff {
  width: 80%;
  display: block;
  margin: 0 auto;
}
/* line 273, ../scss/style.scss */
.mobileviewupliff img {
  width: 100%;
}

/* line 278, ../scss/style.scss */
.livedemo {
  color: #444444;
  margin-top: 40px;
}

/* line 285, ../scss/style.scss */
.wireframes .WF, .wireframes .TN, .wireframes .MU, .thumbnails .WF, .thumbnails .TN, .thumbnails .MU, .mockups .WF, .mockups .TN, .mockups .MU {
  width: 100%;
  margin-bottom: 25px;
}
/* line 290, ../scss/style.scss */
.wireframes img, .thumbnails img, .mockups img {
  width: 100%;
}

/* line 296, ../scss/style.scss */
.about {
  margin-top: 40px;
}

/* line 302, ../scss/style.scss */
.education, .contact {
  margin-top: 40px;
}

/* line 306, ../scss/style.scss */
.contacttag {
  color: #444444;
}

/* line 310, ../scss/style.scss */
.profilepicture {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 40px;
}

/* line 319, ../scss/style.scss */
.resume {
  display: block;
  margin: 0 auto;
  width: 80%;
}
/* line 323, ../scss/style.scss */
.resume img {
  width: 100%;
}

@media (min-width: 600px) {
  /* line 337, ../scss/style.scss */
  nav li {
    padding: 0px 30px;
  }
  /* line 340, ../scss/style.scss */
  nav .imagetag {
    width: 8%;
  }

  /* line 346, ../scss/style.scss */
  .wireframes .WF, .wireframes .TN, .wireframes .MU, .thumbnails .WF, .thumbnails .TN, .thumbnails .MU, .mockups .WF, .mockups .TN, .mockups .MU {
    width: 60%;
  }

  /* line 351, ../scss/style.scss */
  .laptopview {
    margin: 0;
    float: right;
    width: 100%;
  }

  /* line 356, ../scss/style.scss */
  h4 {
    clear: both;
  }

  /* line 360, ../scss/style.scss */
  .about2 {
    width: 65%;
    float: right;
  }

  /* line 365, ../scss/style.scss */
  .profilepicture {
    width: 35%;
    max-width: 100%;
  }

  /* line 370, ../scss/style.scss */
  .contact {
    display: none;
  }

  /* line 381, ../scss/style.scss */
  .wrapper2 {
    width: 30%;
    margin: 0;
  }
}
@media (min-width: 800px) {
  /* line 390, ../scss/style.scss */
  .grokwf {
    width: 80%;
  }

  /* line 395, ../scss/style.scss */
  .wireframes .WF, .wireframes .TN, .thumbnails .WF, .thumbnails .TN {
    width: 47%;
    display: inline-block;
    vertical-align: top;
  }

  /* line 404, ../scss/style.scss */
  .firstcolumn {
    margin-right: 25px;
  }

  /* line 409, ../scss/style.scss */
  .mockups .MU {
    width: 30%;
    display: inline-block;
    vertical-align: top;
  }

  /* line 415, ../scss/style.scss */
  .tabletview, .mobileview {
    width: 80%;
  }

  /* line 419, ../scss/style.scss */
  .laptopview {
    width: 46%;
    display: inline-block;
  }

  /* line 425, ../scss/style.scss */
  .codingimage {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  /* line 430, ../scss/style.scss */
  .projectscope {
    text-align: center;
  }
  /* line 432, ../scss/style.scss */
  .projectscope li {
    text-align: left;
  }

  /* line 436, ../scss/style.scss */
  .UX, .UI, .development {
    display: inline-block;
    vertical-align: top;
    width: 30%;
  }

  /* line 443, ../scss/style.scss */
  nav li {
    padding: 0px 50px;
  }
  /* line 446, ../scss/style.scss */
  nav .imagetag {
    width: 7%;
  }

  /* line 451, ../scss/style.scss */
  .SCCFF, .OneColumbia, .upliff, .grok, .coffee, .layr {
    width: 49%;
    display: inline-block;
  }

  /* line 457, ../scss/style.scss */
  .SCCFF, .upliff, .coffee {
    margin-right: 10px;
  }

  /* line 462, ../scss/style.scss */
  section {
    display: inline-block;
    width: 45%;
    vertical-align: top;
  }

  /* line 469, ../scss/style.scss */
  .firstsection {
    margin-right: 55px;
  }
}
