/* line 6, ../scss/style.scss */
.clearfix {
  position: relative;
  zoom: 1;
}
/* line 9, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 13, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 19, ../scss/style.scss */
body {
  min-width: 360px;
}

/* line 23, ../scss/style.scss */
.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* line 27, ../scss/style.scss */
.mainimage {
  background: url("../img/watercolor.jpg");
  width: 100%;
  background-size: contain;
  padding: 100px 0px;
  height: 150px;
  text-align: center;
  background-repeat: no-repeat;
}

/* line 37, ../scss/style.scss */
h1, h2, h3, h4, p, h5 {
  margin: 0px;
  font-weight: normal;
}

/* line 43, ../scss/style.scss */
h1 {
  text-transform: uppercase;
  color: #444444;
  font: normal normal 35px Molengo;
  letter-spacing: 10px;
}

/* line 50, ../scss/style.scss */
h2 {
  font: normal 400 20px Martel Sans, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #444444;
  margin: 15px 0px;
}

/* line 58, ../scss/style.scss */
h3 {
  text-transform: uppercase;
  color: white;
  font: normal normal 18px Molengo;
  letter-spacing: 2px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

/* line 66, ../scss/style.scss */
a {
  text-decoration: none;
  padding: 0px;
  color: white;
  cursor: pointer;
}
/* line 71, ../scss/style.scss */
a:hover {
  color: #ea5d6e;
}

/* line 77, ../scss/style.scss */
nav {
  background-color: #222222;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
}
/* line 82, ../scss/style.scss */
nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
/* line 88, ../scss/style.scss */
nav li {
  display: inline-block;
  padding: 0px 8px;
}
/* line 92, ../scss/style.scss */
nav a {
  display: block;
  font: normal 400 12px Martel Sans, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* line 98, ../scss/style.scss */
nav img {
  width: 100%;
}
/* line 102, ../scss/style.scss */
nav .imagetag {
  display: inline-block;
  width: 10%;
}

/* line 111, ../scss/style.scss */
.SCCFF {
  background-image: url("../img/sccffmockup2.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 275px;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
}
/* line 120, ../scss/style.scss */
.SCCFF h3 {
  position: absolute;
  bottom: 18%;
  text-transform: uppercase;
  background-color: rgba(3, 3, 3, 0.5);
  padding: 15px 0px;
  width: 100%;
}

/* line 130, ../scss/style.scss */
.OneColumbia {
  background-image: url("../img/onecolumbiamockup.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 275px;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
}
/* line 139, ../scss/style.scss */
.OneColumbia h3 {
  position: absolute;
  bottom: 18%;
  text-transform: uppercase;
  background-color: rgba(3, 3, 3, 0.5);
  padding: 15px 0px;
  width: 100%;
}

/* line 149, ../scss/style.scss */
.Zverse {
  background-image: url("../img/zversemockup2.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 275px;
  position: relative;
  text-align: center;
}
/* line 157, ../scss/style.scss */
.Zverse h3 {
  position: absolute;
  bottom: 20%;
  text-transform: uppercase;
  background-color: rgba(3, 3, 3, 0.5);
  padding: 15px 0px;
  width: 100%;
}

/* line 170, ../scss/style.scss */
.applefamily {
  width: 100%;
  display: block;
  margin: 0 auto;
}
/* line 174, ../scss/style.scss */
.applefamily img {
  width: 100%;
}

/* line 179, ../scss/style.scss */
h4 {
  font: normal normal 30px Molengo;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #444444;
  text-align: center;
  margin-bottom: 40px;
}

/* line 188, ../scss/style.scss */
p, h5 {
  font: normal 400 12px Martel Sans, sans-serif;
  color: #444444;
  line-height: 22px;
}

/* line 193, ../scss/style.scss */
h5 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 10px 0px 5px 0px;
}

/* line 201, ../scss/style.scss */
.projectscope ul {
  margin: 0px;
}
/* line 204, ../scss/style.scss */
.projectscope li {
  font: normal 400 12px Martel Sans, sans-serif;
  color: #444444;
}

/* line 210, ../scss/style.scss */
.question {
  margin-top: 20px;
  font-size: 0.9em;
}

/* line 216, ../scss/style.scss */
.discovery h4, .wireframes h4, .thumbnails h4, .integrations h4, .coding h4, .viewdemo h4 {
  margin-top: 40px;
}

/* line 221, ../scss/style.scss */
.tabletview {
  width: 100%;
}
/* line 223, ../scss/style.scss */
.tabletview img {
  width: 100%;
}

/* line 229, ../scss/style.scss */
.livedemo {
  color: #444444;
  margin-top: 40px;
}

/* line 236, ../scss/style.scss */
.wireframes .WF {
  width: 100%;
  margin-bottom: 25px;
}
/* line 240, ../scss/style.scss */
.wireframes img {
  width: 100%;
}

/* line 246, ../scss/style.scss */
.about {
  margin-top: 40px;
}

@media (min-width: 600px) {
  /* line 257, ../scss/style.scss */
  nav li {
    padding: 0px 30px;
  }
  /* line 260, ../scss/style.scss */
  nav .imagetag {
    width: 8%;
  }

  /* line 266, ../scss/style.scss */
  .wireframes .WF {
    width: 60%;
  }
}
@media (min-width: 800px) {
  /* line 275, ../scss/style.scss */
  .wireframes .WF {
    width: 47%;
    display: inline-block;
    vertical-align: top;
  }
  /* line 280, ../scss/style.scss */
  .wireframes .firstcolumn {
    margin-right: 25px;
  }

  /* line 284, ../scss/style.scss */
  .tabletview {
    width: 80%;
  }

  /* line 288, ../scss/style.scss */
  .codingimage {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  /* line 293, ../scss/style.scss */
  .projectscope {
    text-align: center;
  }
  /* line 295, ../scss/style.scss */
  .projectscope li {
    text-align: left;
  }

  /* line 299, ../scss/style.scss */
  .UX, .UI, .development {
    display: inline-block;
    vertical-align: top;
    width: 30%;
  }

  /* line 306, ../scss/style.scss */
  nav li {
    padding: 0px 50px;
  }
  /* line 309, ../scss/style.scss */
  nav .imagetag {
    width: 7%;
  }

  /* line 314, ../scss/style.scss */
  .SCCFF, .OneColumbia, .Zverse {
    width: 49%;
    display: inline-block;
  }

  /* line 320, ../scss/style.scss */
  .SCCFF {
    margin-right: 10px;
  }

  /* line 325, ../scss/style.scss */
  section {
    display: inline-block;
    width: 45%;
    vertical-align: top;
  }

  /* line 332, ../scss/style.scss */
  .firstsection {
    margin-right: 55px;
  }
}
