/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 19, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 21, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 25, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
/* line 32, ../scss/style.scss */
body {
  min-width: 350px;
  font-family: "Lora", serif;
  color: #2f3638;
}
/* line 36, ../scss/style.scss */
body p {
  margin: 0px;
  line-height: 20px;
}
/* line 40, ../scss/style.scss */
body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 46, ../scss/style.scss */
body a {
  text-decoration: none;
}
/* line 49, ../scss/style.scss */
body h1, body h2, body h3 {
  margin: 0px;
}

/* line 54, ../scss/style.scss */
.fade {
  opacity: 0;
}

/* line 58, ../scss/style.scss */
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}

/* line 64, ../scss/style.scss */
header {
  background: url("../img/mainpic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
  z-index: 100;
  background-position: center 20%;
  padding-bottom: 20px;
}
/* line 74, ../scss/style.scss */
header svg {
  width: 30%;
  max-width: 150px;
  display: block;
  margin: 0 auto;
}
/* line 81, ../scss/style.scss */
header p {
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  text-shadow: 0px 1px 1px black;
}
/* line 86, ../scss/style.scss */
header p:nth-child(3) {
  letter-spacing: 4.9px;
  padding-top: 5px;
  margin-bottom: 15px;
}
/* line 91, ../scss/style.scss */
header p:nth-child(2) {
  border-bottom: 1px solid white;
  display: inline-block;
  padding-bottom: 5px;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 2px;
}
/* line 101, ../scss/style.scss */
header a {
  color: white;
  text-transform: uppercase;
  border: 3px solid #307B8C;
  padding: 5px;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 2px;
  font-size: 0.8em;
  padding: 7px 46px;
  text-shadow: 0px 1px 1px black;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 112, ../scss/style.scss */
header a:hover {
  background: #235a66;
}

/* line 118, ../scss/style.scss */
.definition {
  background: url("../img/definition.jpg");
  padding: 20px;
  background-size: cover;
}
/* line 122, ../scss/style.scss */
.definition h1 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  display: inline-block;
}
/* line 127, ../scss/style.scss */
.definition h2 {
  font-weight: normal;
  font-style: italic;
  display: inline-block;
}
/* line 132, ../scss/style.scss */
.definition h3 {
  font-weight: normal;
}
/* line 134, ../scss/style.scss */
.definition h3:nth-child(4) {
  margin-left: 20px;
}

/* line 139, ../scss/style.scss */
.icon {
  width: 10%;
  margin: 0 auto;
  padding-top: 10px;
  max-width: 40px;
}
/* line 144, ../scss/style.scss */
.icon img {
  width: 100%;
}

/* line 149, ../scss/style.scss */
.about {
  background: url("../img/redimg.jpg");
  background-size: cover;
  color: white;
  padding-bottom: 20px;
}
/* line 155, ../scss/style.scss */
.about p:first-child {
  margin-bottom: 10px;
}
/* line 159, ../scss/style.scss */
.about .arrow {
  display: none;
}
/* line 162, ../scss/style.scss */
.about .arrow2 {
  max-width: 75px;
  display: block;
  margin: 0 auto;
}
@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(3deg);
  }
  50% {
    -ms-transform: rotate(-3deg);
  }
  100% {
    -ms-transform: rotate(3deg);
  }
}
@-moz-keyframes wiggle {
  0% {
    -moz-transform: rotate(3deg);
  }
  50% {
    -moz-transform: rotate(-3deg);
  }
  100% {
    -moz-transform: rotate(3deg);
  }
}
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
/* line 170, ../scss/style.scss */
.about .arrow2:hover {
  -ms-animation: wiggle .3s 2;
  -moz-animation: wiggle .3s 2;
  -webkit-animation: wiggle .3s 2;
  animation: wiggle .3s 2;
}

/* line 174, ../scss/style.scss */
.speakers {
  background: url("../img/greenbg.jpg");
  padding-bottom: 20px;
}
/* line 178, ../scss/style.scss */
.speakers section img {
  width: 60%;
  max-width: 250px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
/* line 184, ../scss/style.scss */
.speakers p {
  margin-top: 10px;
}

/* line 189, ../scss/style.scss */
.schedule {
  color: #5c231e;
  background: url("../img/scheduleimg.jpg");
  background-size: cover;
  padding-bottom: 20px;
}
/* line 194, ../scss/style.scss */
.schedule p {
  margin-bottom: 15px;
}
/* line 197, ../scss/style.scss */
.schedule a {
  color: white;
}
/* line 200, ../scss/style.scss */
.schedule .button {
  color: black;
  background-color: white;
  text-transform: uppercase;
  border: 3px solid #307B8C;
  padding: 5px;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 2px;
  font-size: 0.8em;
  padding: 10px 35px;
  text-align: center;
  display: block;
  width: 50%;
  margin: 0 auto;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 215, ../scss/style.scss */
.schedule .button:hover {
  background: #e6e6e6;
}
/* line 221, ../scss/style.scss */
.schedule li:last-child {
  margin-bottom: 15px;
}

/* line 228, ../scss/style.scss */
.readytogrok {
  background: url("../img/readyimg.jpg");
  background-size: cover;
}

/* line 234, ../scss/style.scss */
.sponsors {
  background: url("../img/greybg.jpg");
  color: white;
  padding: 20px;
  margin-bottom: 30px;
}
/* line 239, ../scss/style.scss */
.sponsors p {
  margin-bottom: 20px;
}
/* line 242, ../scss/style.scss */
.sponsors li {
  width: 65%;
  margin-bottom: 10px;
}
/* line 246, ../scss/style.scss */
.sponsors img {
  width: 100%;
}
/* line 248, ../scss/style.scss */
.sponsors img:hover {
  opacity: 0.5;
  filter: alpha(opacity=40);
}

/* line 256, ../scss/style.scss */
.readytogrok {
  text-align: center;
  padding: 20px;
  padding: 30px;
}
/* line 260, ../scss/style.scss */
.readytogrok h3 {
  font-weight: normal;
}
/* line 262, ../scss/style.scss */
.readytogrok h3:first-child {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
}
/* line 267, ../scss/style.scss */
.readytogrok h3:nth-child(2) {
  margin-bottom: 20px;
}
/* line 271, ../scss/style.scss */
.readytogrok a {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  background: #3ea0b5;
  background-image: -webkit-linear-gradient(top, #3ea0b5, #21667a);
  background-image: -moz-linear-gradient(top, #3ea0b5, #21667a);
  background-image: -ms-linear-gradient(top, #3ea0b5, #21667a);
  background-image: -o-linear-gradient(top, #3ea0b5, #21667a);
  background-image: linear-gradient(to bottom, #3ea0b5, #21667a);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px 75px;
  border: solid #ffffff 1px;
  text-decoration: none;
  letter-spacing: 3px;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 289, ../scss/style.scss */
.readytogrok a:hover {
  background: #317e8f;
}

/* line 295, ../scss/style.scss */
.follow {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
/* line 299, ../scss/style.scss */
.follow .grokman {
  width: 35%;
}
@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(3deg);
  }
  50% {
    -ms-transform: rotate(-3deg);
  }
  100% {
    -ms-transform: rotate(3deg);
  }
}
@-moz-keyframes wiggle {
  0% {
    -moz-transform: rotate(3deg);
  }
  50% {
    -moz-transform: rotate(-3deg);
  }
  100% {
    -moz-transform: rotate(3deg);
  }
}
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
/* line 305, ../scss/style.scss */
.follow .grokman:hover {
  -ms-animation: wiggle .3s 2;
  -moz-animation: wiggle .3s 2;
  -webkit-animation: wiggle .3s 2;
  animation: wiggle .3s 2;
}
/* line 308, ../scss/style.scss */
.follow .social img {
  width: 17%;
}
/* line 310, ../scss/style.scss */
.follow .social img:nth-child(2) {
  width: 15%;
}

/* line 317, ../scss/style.scss */
footer {
  padding: 20px;
}
/* line 319, ../scss/style.scss */
footer img {
  width: 50%;
  display: block;
}
/* line 322, ../scss/style.scss */
footer img:nth-child(2) {
  margin-bottom: 10px;
}
/* line 327, ../scss/style.scss */
footer p:first-child {
  margin-bottom: 20px;
}
/* line 330, ../scss/style.scss */
footer p:last-child {
  font-size: 0.6em;
  margin-top: 20px;
}

@media (min-width: 600px) {
  /* line 340, ../scss/style.scss */
  header p {
    font-size: 1em;
  }

  /* line 350, ../scss/style.scss */
  .locations ul {
    display: inline-block;
  }
  /* line 352, ../scss/style.scss */
  .locations ul:nth-child(2) {
    margin-left: 100px;
  }

  /* line 358, ../scss/style.scss */
  .schedule .button {
    padding: 10px 0px;
  }

  /* line 363, ../scss/style.scss */
  .follow {
    width: 40%;
  }

  /* line 366, ../scss/style.scss */
  .sponsors img {
    width: 65%;
    max-width: 300px;
  }

  /* line 371, ../scss/style.scss */
  footer img {
    width: 49%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
  }
  /* line 376, ../scss/style.scss */
  footer img:nth-child(3) {
    margin-top: 72px;
    float: right;
  }
}
@media (min-width: 800px) {
  /* line 385, ../scss/style.scss */
  .content {
    width: 90%;
    max-width: 900px;
    background-color: white;
    margin: 0 auto;
  }

  /* line 392, ../scss/style.scss */
  body {
    background-color: #f2e9e4;
  }

  /* line 396, ../scss/style.scss */
  .definition {
    padding: 75px 45px;
  }

  /* line 399, ../scss/style.scss */
  .about {
    position: relative;
  }
  /* line 401, ../scss/style.scss */
  .about .arrow2 {
    display: none;
  }
  /* line 404, ../scss/style.scss */
  .about .arrow {
    display: inline-block;
    position: absolute;
    width: 20%;
    left: 20%;
    top: 49%;
  }
  @-ms-keyframes wiggle {
    0% {
      -ms-transform: rotate(3deg);
    }
    50% {
      -ms-transform: rotate(-3deg);
    }
    100% {
      -ms-transform: rotate(3deg);
    }
  }
  @-moz-keyframes wiggle {
    0% {
      -moz-transform: rotate(3deg);
    }
    50% {
      -moz-transform: rotate(-3deg);
    }
    100% {
      -moz-transform: rotate(3deg);
    }
  }
  @-webkit-keyframes wiggle {
    0% {
      -webkit-transform: rotate(3deg);
    }
    50% {
      -webkit-transform: rotate(-3deg);
    }
    100% {
      -webkit-transform: rotate(3deg);
    }
  }
  @keyframes wiggle {
    0% {
      transform: rotate(3deg);
    }
    50% {
      transform: rotate(-3deg);
    }
    100% {
      transform: rotate(3deg);
    }
  }
  /* line 414, ../scss/style.scss */
  .about .arrow:hover {
    -ms-animation: wiggle .3s 2;
    -moz-animation: wiggle .3s 2;
    -webkit-animation: wiggle .3s 2;
    animation: wiggle .3s 2;
  }
  /* line 418, ../scss/style.scss */
  .about .tentwenty {
    display: block;
    width: 55%;
    float: right;
    margin-bottom: 45px;
  }
  /* line 424, ../scss/style.scss */
  .about .ten {
    margin-bottom: 0px;
    margin-top: 20px;
  }
  /* line 429, ../scss/style.scss */
  .about p:first-child {
    margin-top: 30px;
  }

  /* line 437, ../scss/style.scss */
  .speakers section img {
    display: inline-block;
  }
  /* line 441, ../scss/style.scss */
  .speakers p {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  /* line 450, ../scss/style.scss */
  .sponsors img {
    width: 100%;
  }
  /* line 453, ../scss/style.scss */
  .sponsors li {
    width: 26%;
    display: inline-block;
    vertical-align: top;
    margin-right: 53px;
  }
  /* line 458, ../scss/style.scss */
  .sponsors li:nth-child(2) {
    margin-right: 20px;
    margin-left: 33px;
  }
  /* line 462, ../scss/style.scss */
  .sponsors li:nth-child(3) {
    margin-right: 0px;
    margin-left: 50px;
  }
  /* line 466, ../scss/style.scss */
  .sponsors li:nth-child(4) {
    display: block;
    margin: 0 auto;
  }

  /* line 475, ../scss/style.scss */
  footer img:nth-child(2) {
    margin-left: 20px;
  }
  /* line 478, ../scss/style.scss */
  footer img:nth-child(3) {
    margin-right: 20px;
  }

  /* line 484, ../scss/style.scss */
  .tg {
    border: 2px solid black;
  }
  /* line 486, ../scss/style.scss */
  .tg .date {
    border-bottom: 1px solid black;
  }
  /* line 489, ../scss/style.scss */
  .tg td, .tg th {
    padding: 10px;
  }
  /* line 492, ../scss/style.scss */
  .tg h3 {
    font-weight: normal;
    text-transform: uppercase;
  }
  /* line 496, ../scss/style.scss */
  .tg th {
    font-weight: normal;
  }
  /* line 499, ../scss/style.scss */
  .tg h4 {
    margin: 0px;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
  }
}
